/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #eeeeee;
  overflow-x: hidden;
}

nav {
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo {
  font-size: 2rem;
  padding: 1rem;
  color: #ffffff;
  font-family: "Segoe UI";
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 0.4rem;
}
nav ul li a {
  
  padding: 1rem 1rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
}
nav ul li a.active {
  background: #333333;
}
nav ul li a:hover {
  background: grey;
}

header {
  width: 100%;
  height: 30vh;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 6rem;
  color: #ffffff;
  background-color: #6e6405;
  opacity: 1;
  padding: 2rem;
  font-family: "Roboto";
  letter-spacing: 0.4rem;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  margin: 1rem 0;
}
button {
  border: none;
  padding: 1rem;
  background-color: #137db9;
  background-color: #6e6405;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem grey;
  margin: 0.5rem;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}
form {
  width: 30rem;
  padding: 4rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0.1rem 0.1rem 0.4rem #ffffff;
}

.form-group {
  display: flex;
  padding: 0.5rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form-group input,
.form-group textarea {
  padding: 1rem;
  border: none;
  border: 0.2rem solid #eeeeee;
  width: 100%;
  border-radius: 1rem;
  font-size: 1.4rem;
  color: #333333;
}
.form-group input:focus,
.form-group textarea:focus {
  border: 0.2rem solid #000000;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  background: #000000;
  color: #ffffff;
  height: 30vh;
  letter-spacing: 0.2rem;
}
footer .social img {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  opacity: 0.8;
}
footer .social img:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  header {
    height: 30vh;
  }
  header h1 {
    font-size: 2rem;
  }
}

/* #carasoul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#blogPosts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 25%;
  margin: 2rem;
  background: white;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  border-radius: 1rem;
}

.single-card {
  width: 100%;
}
.card:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}
.card-img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}

.card-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.card-body {
  padding: 2rem;
}

.card-body-title {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body-title h3 {
  font-size: 1.8rem;
}
.card-body-title span {
  font-size: 1.2rem;
}

.card-body-description {
  font-size: 1.4rem;
  margin: 2rem 0 0 1rem;
  color: #333333;
}

.card-footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.card-footer a {
  text-decoration: none;
  background-color: #137db9;
  background-color:  #6e6405;
  padding: 1rem;
  color: #ffffff;
  font-size: 1.4rem;
  border-radius: 1rem;
  opacity: 0.8;
}
.card-footer a:hover {
  opacity: 1;
}
.all-posts {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btnToggle {
  display: block;
}
.btnBottomToggle {
  display: none;
} 
 */

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  background: #efefef;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.top-menu,
.primary-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-menu {
  background-color: #efefef;
}

.logo,
.top-menu .top-contact {
  font-size: 1.4rem;
  padding: 1rem;
  color: #000000;
  font-family: "Segoe UI";
  cursor: pointer;
  font-size: 1.4rem;
}
.top-contact a {
  color: #000000;
  /* background-color: #6e640580; */
  padding: 1rem;
}
.top-contact a:hover {
  color: #6e6405;
}
.top-contact a.active {
  color: #ffffff;
  background-color: #6e6405;
  text-decoration: none;
}
.top-menu ul li a {
  border-radius: 50%;
  background-color: #333333;
  color: #ffffff;
}
.top-menu ul li a:hover {
  border-radius: 50%;
  color: #ffffff;
  background-color: #6e640580;
}
.top-menu ul li a.active {
  background-color: #6e6405;
}
.primary-menu {
  /* background-color: #00000090; */
  /* background-color: #6e640580; */
  background-color: #ffffff;
  height: 8rem;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 0.2rem;
  padding: 1.5rem 0.5rem;
}
nav ul li a {
  padding: 1rem 1rem;
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
}

nav ul li a.active {
  color: #ffffff;
  background-color: #6e6405;
}
nav ul li a:hover {
  background-color: #6e640580;
}

header {
  width: 100%;
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
}
header h1 {
  font-size: 5rem;
  color: #000000;
  font-family: "roboto";
  letter-spacing: 0.4rem;
}
header h2 {
  padding: 2rem;
  font-size: 1.8rem;
  color: #333333;
}

main {
  background: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #productsSetion {
  margin-top: 3rem;
  width: 90%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

th,
td {
  text-align: center;
  padding: 1.6rem 0.2rem;
  font-size: 1.4rem;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

main #productsSetion table thead th {
  background-color: #000000;
  color:#ffffff;
}

main #productsSetion table tbody td img {
  width: 8rem;
  height: 8rem;
}
main #productsSetion table tbody td a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.4rem;
}
main #productsSetion table tbody td a .fa-pencil {
  color: #039df7;
}
main #productsSetion table tbody td a .fa-trash {
  color: #ce0909;
}
main #productsSetion table tbody td a .fa-pencil:hover,
main #productsSetion table tbody td a .fa-trash:hover {
  opacity: 1;
  font-size: 1.8rem;
}
/* main .filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .filter .form-group {
  margin-right: 3rem;
}
main .filter input {
  font-size: 1.8rem;
}
main .productsSection {
  margin-top: 10rem;
}
.sectionHeading {
  padding: 2rem 2rem;
  font-size: 5rem;
  color: #000000;
  background-color: #6e6405;
}
#products {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

#products li {
  margin: 1rem;
  padding: 1rem;
} 
.card {
  width: 25rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  background: white;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  border-radius: 1rem;
}

.card:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}
.card-img {
  height: 20rem;
  border-radius: 1rem;
}
.single-card {
  width: 50%;
  margin: auto;
}

.card-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.single-card .card-img {
  width: 100%;
  height: 100%;
}

.card-description,
.card-header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-header h3 {
  font-size: 2rem;
  color: #333333;
}
.card-description span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}
.card-description p {
  padding: 1rem;
  color: #333333;
}
.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
}
.card-footer a,
button {
  border: none;
  padding: 1rem;
  background-color: #6e6405;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem grey;
  margin: 0.5rem;
  opacity: 0.8;
}
.card-footer a {
  background-color: #137db9;
  text-decoration: none;
}
.card-footer button {
  border: none;
  background: #d30505;
}
.card-footer button.cart {
  border: none;
  background: #d37505;
} */

/* ============== */

/* .img-zoom-container {
  box-sizing: border-box;
  position: relative;
}

.img-zoom-lens {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #d4d4d4;
  set the size of the lens:
  width: 30px;
  height: 30px;
 } 

.img-zoom-result {
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  set the size of the result div:
  width: 100%;
  height: 30rem;
 } 
.single-card .card-img #myimage {
  margin: 1rem;
  width: 10rem;
  height: 10rem;
} 
===========
#viewall-btn {
  text-decoration: none;
  border: none;
  padding: 1rem;
  background-color: #000000;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem grey;
  opacity: 0.8;
  margin-top: 50px;
}

.card-footer a:hover,
.card-footer button:hover,
#viewall-btn:hover,
button:hover {
  opacity: 1;
} */

form {
  width: 30rem;
  padding: 4rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0.1rem 0.1rem 0.4rem #ffffff;
}

.form-group {
  display: flex;
  padding: 0.5rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form-group input,
.form-group textarea {
  padding: 1rem;
  border: none;
  border: 0.2rem solid #eeeeee;
  width: 100%;
  border-radius: 1rem;
  font-size: 1.4rem;
  color: #333333;
}
.form-group input:focus,
.form-group textarea:focus {
  border: 0.2rem solid #000000;
}
button {
  border: none;
  padding: 1rem;
  background-color: #137db9;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem grey;
  margin: 0.5rem;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  background: #000000;
  color: #ffffff;
  height: 30vh;
  letter-spacing: 0.2rem;
}
footer .social img {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  opacity: 0.8;
}
footer .social img:hover {
  opacity: 1;
}

@media (max-width: 600px) {
}
